@font-face {
	font-family: 'Qanelas SemiBold'; 
	src: url('../font/Qanelas-SemiBold.ttf'); 
}
@font-face {
	font-family: 'Qanelas Medium'; 
	src: url('../font/Qanelas-Medium.ttf'); 
}
@font-face {
	font-family: 'Qanelas Regular'; 
	src: url('../font/Qanelas-Regular.ttf'); 
}
@font-face {
	font-family: 'Bebas Neue'; 
	src: url('../font/Bebas-Neue.ttf'); 
}
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
header{
    margin-top: 22px;
}
.cataloge-item{
    position: relative;
}
.cataloge-item_big{
    height: 600px;
}
.cataloge-item__title{
    font-family: 'Qanelas SemiBold', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 20px;
    text-transform: uppercase;    
}
.cataloge-item__title{
    color: #1F1F1D;
}
.cataloge-item__title-white{
    color: white;
}
.cataloge-item__link{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFC53D;
    padding: 18px 20px;
}
.cataloge-item-mini{
    background-repeat: no-repeat;
    height: 355px;
    background-position: bottom;
    background-size: cover;
}
.none-cover{
    background-size: revert;
}
.brands{
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
    text-align: center;
}
.brand-card{
    background: #EFEBE2;
    height: 140px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.body{
    background: #F6F3EE;
}
.navbar-vestaz-house{
    background: #F6F3EE;
}
.navbar-right-group{
    width: 325px;
}
.nav-item__user-link{
    border: 1px solid #1F1F1D;
    border-radius: 50%;
    padding: 14px;
}
.nav-item__link{
    color: #1F1F1D;
    text-decoration: none;
    font-family: 'Qanelas Medium', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.nav-item__link:hover{
    color: #1F1F1D;
}
.nav-item__call-link{
    border: 1px solid #1F1F1D;
    border-radius: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
}
.nav-link__catalog > svg{
    margin-right: 10px;
}
.cataloge-item-mini > .cataloge-item__title{
    font-size: 29px;
    display: flex;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    width: 206px;
    top: 5px;
    left: 30px;
}
.nav-link{
    font-family: 'Qanelas Medium', Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.nav-item > .active{
    font-family: 'Qanelas SemiBold', Arial, Helvetica, sans-serif;
}
.nav-item__link>b{
    font-family: 'Qanelas SemiBold', Arial, Helvetica, sans-serif;
    font-size: 13px;
}
footer{
    padding: 0px 8px;
}
.footer-list{
    margin-top: 14px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-row-gap: 14px;
}
.footer-list > li > a{
    font-size: 15px;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #1F1F1D;
}
.footer-category__title{
    font-size: 15px;
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #1F1F1D;
}
.footer-list > li > a:hover, .footer-category__title:hover{
    color: #1F1F1D;
}
.footer-menu-title{
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
    font-size: 23px;
}
.footer-adress{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 23px;
}
.footer-mobile{
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 23px;
    color: #1F1F1D;
}
.footer-mobile:hover{
    color: #1F1F1D;
}
.footer-social__links{
    text-align: right;
}
.footer_bootom-link{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #1F1F1D;
    text-decoration: none;
    cursor: pointer;
}
.footer_bootom-link:hover{
    color: #1F1F1D;
}
h1{
    font-family: 'Bebas Neue',Arial, Helvetica, sans-serif;
    font-size: 70px;
}
h2{
    font-family: 'Bebas Neue',Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.product-name{
    width: 267px;
}
.product-action{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.product-code{
        font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #1F1F1D;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.color-picker > .color{
    height: 26px;
    width: 26px;
    margin-right: 30px;
    position: relative;
}
.product-material{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #1F1F1D;
    display: flex;
    justify-content: end;
}
.min-title{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 23px;
     color: #1F1F1D;
}
.br1{
    border-bottom: 2px solid black;
}
.product-text-info{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #1F1F1D;
    margin-top: 18px;
}
.p-info{
    padding-left: 0;
    display: grid;
    grid-row-gap: 15px;
    list-style: none;
    color: #545451;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}
.p-info>li{
    border-bottom: 1px solid #ADABA6;
}
.p-info>li>div.row>div:last-child{
    text-align: end;
}
.p-main{
    overflow-x: hidden;
}
.product-viewer{
    background: white;
    width: 720px;
    height: 760px;
    display: flex;
    position: relative;
}
.product-viewer > svg{
    position: absolute;
    top: 10px;
    left: -2px;
}
.product-viewer>.pagination{
    position: absolute;
    left: 40px;
    top: 240px;
    cursor: pointer;
}
.product-viewer>.buttons{
    position: absolute;
    left: 280px;
    right:0 ;
    margin: auto;
    bottom: 0;
    display: flex;
}
.product-viewer>.buttons > button{
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background: rgba(255, 205, 87, 1);
}
.product-viewer > img{
    width: 473px;
    height: 473px;
    margin: auto;
}
.btn-c{
    border: 1px solid #1F1F1D;
    box-sizing: border-box;
    height: 50px;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: transparent;
}
.product-counter{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: right;
}
.controller{
    display: flex;
}
.controller > button{
    background: transparent;
    border: 1px solid transparent;
    width: 35%;
    font-size: 40px;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.controller > input{
    background: transparent;
    border: 1px solid transparent;
    width: 60%;
    text-align: center;
}
.color-picker > .color:hover:before{
    content: '';
    background: #E8E4DD;
    height: 44px;
    width: 44px;
    position: absolute;
    border-radius: 50%;
    left: -9px;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: -10;
}
.color-picker{
    display: flex;
}
.navbar-brand{
    margin-right: 40px;
}
.login-form{
    max-width: 400px;
}
.login-form__input::placeholder{
    color: #1F1F1D;
}
.login-form__input{
    width: 100%;
    text-align: center;
    color: #000;
    background: #F6F3EE;
    border: 1px solid #1F1F1D;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    height: 40px;
    font-family: 'Qanelas Medium',Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.login-form-grap{
    display: grid;
    grid-row-gap: 20px;
}
.btn-login{
    width: 100%;
    background-color: #F6F3EE;
    border: 1px solid #1F1F1D;
    border-radius: 49px;
    height: 60px;
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
}
.btn-login::before{
    content: '';
    width: 30px;
    height: 2px;
    background: url('../svg/icons/line.svg');
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 21%;
}
.btn-login:hover::before{
    background: url('../svg/icons/arrow-right.svg');
    height: 12px;
}
.login-info{
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
    color: #FFC53D;
    font-size: 2rem;
    border: 1px solid black;
    padding: 0px 20px;
    border-radius: 50px;
    cursor: help;
}
.login-info__text > span{
    display: none;
    color: #1F1F1D;
    font-family: 'Qanelas Medium', Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 190px;
    padding: 10px 30px;
    position: absolute;
    right: -178px;
    top: 3px;
    z-index: 100;
}
.login-info__text::after{
    display: none;
    content: '';
    background: url(../image/login-info-bg.png) no-repeat 100%;
    position: absolute;
    width: 180px;
    height: 50px;
    left: 50px;
    top: 5px;
}
.login-info:hover> .login-info__text > span{
    display: block;
}
.login-info:hover>  .login-info__text::after{
    display: block;
}
.password-control {
	position: absolute;
	top: 11px;
	right: 6px;
	display: inline-block;
	width: 30px;
	height: 20px;
	background: url('../svg/icons/hide_password.svg') 0 0 no-repeat;
}
.password-control.view {
    background: url('../svg/icons/show_password.svg') 0 0 no-repeat;
}

.navbar-toggler-icon{
    background-image: url('../svg/icons/menu.svg') !important;
}
.navbar-toggler{
    border: 1px solid transparent !important;
}
.footer_bootom-link:hover{
    border-bottom: 1.5px solid black;
}
.main{
    padding: 0 20px;
}
.breadcrumb-item{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: .8rem !important;
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: .8rem;
}
.tabs{
    display: flex;
    width: 380px;
    color: #DFDAD1;
    border-bottom: 2px solid;
    border-radius: 2px;
    justify-content: space-around;
    position: relative;
}
.tabs > .active{
    color: #1F1F1D;
}
.tabs > .active::before{
    content: '';
    width: 50%;
    height: 2px;
    background: #1F1F1D;
    position: absolute;
    bottom: -2px;
    right: 0;
}
.tabs > span { cursor: pointer;}
.contact-form{
    width: 470px;
    display: grid;
    grid-row-gap: 20px;
}
input[name="time"]{
    margin-right: 5px;
}

input[type=radio] ,input[type=checkbox] {
    -webkit-appearance: none;
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
input[type=radio]::before,input[type=checkbox]::before{
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    position: absolute;
}
  
  input[type=radio]:checked::before,input[type=checkbox]::before:checked{
    content: '';
    width: 18px;
    height: 20px;
    position: absolute;
    border: 1px solid transparent;
    background: url(../svg/icons/Checkbox.svg);
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  .sort > span{
      margin-right: 20px;
      font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
      font-size: 17px;
  }
  .sort > span.sort-active{
    color: #FFC53D;
    border-bottom:1px solid ;
  }
  .card{
      background: white;
      border: 1px solid transparent;
      border-radius: 0px;
      padding: 25px;
      padding-top: 10px;
  }
  .card-action > svg{
      height: 34px;
      width: 34px;
  }
  .card-photo{
    display: flex;
    padding: 15px 0;
  }
  .card-photo > img{
      margin: auto;
      width: 220px !important;
  }
  .sort{
      display: flex;
  }
  .r::before{
    border-radius: 25px !important;
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  }
.time-box{
    width: 350px;
    margin: auto;
}
.time-box label{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.info-box__text{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    width: 290px;
    font-size: 13px;
    display: block;
    margin: auto;
    text-align: center;
    color: #1F1F1D;
}
a, a:hover{
    color: #1F1F1D;
}
.card-top img.selected{
    position: relative;
}
.card-top img.selected::before{
    content: '';
    height: 30px;
    width: 30px;
    background: #F3F0E8;
    /* z-index: -10; */
    position: absolute;
}
.pagination-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.pagination-item{
    height: 41px;
    width: 41px;
    background: #FFFFFF;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.categories-baner{
    padding-left: 35px;
}
.pagination-footer{
    margin-bottom: 35px;
}
.pagination-item > a {
    color: #1F1F1D;
    text-decoration: none;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
}
.pagination-item__active > a{
    color: white;
}
.pagination-item__active{
    background: #1F1F1D;
}
.btn-ajax{
    position: relative;
    padding: 24px 0;
    border: 2px solid #1F1F1D;
    border-radius: 96px;
    width: 298px;
}
.btn-ajax::before{
    content: '';
    width: 29px;
    height: 1px;
}
.card{
    margin-bottom: 22px;    
}
.ajax-load{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    color: #FFC53D;
}
.input-check-color > img{
    margin-right: 8px;
}
.input-check-color > input {
    margin-right: 8px;
}
.input-check-color{
    display: flex;
    align-items: center;
}
p.text{
    color: #686868;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    max-width: 509px;
}
.filter-grid{
    display: grid;
    grid-row-gap: 25px;
}
#map{
    height: 650px;
}
.filter-number > input{
    border: 0.5px solid #1F1F1D;
    background: transparent;
    padding: 13px 15px;
    text-align: center;
    width: 100%;
}
.product-viewer-mob{
    display: none !important;
}
.photo-fix > img{
    margin-top: -29%;
    height: 490px;
}
label.filter{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.qv>input{
    margin-right: 5px;
}
.allFilters > svg {
    margin-right: 5px;
}
.cu-p{
    padding-left: 15px;
}
.allFilters{
    background: #FFC53D;
    border: 1px solid #FFC53D;
    padding: 17px;
    width: 100%;
    margin: auto;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.closeFilter > svg{
    margin-right: 5px;
}
.closeFilter{
    margin: auto;
    height: 70px;
    margin-top: 15px;
    background: transparent;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-product--title{
    font-size: 23px;
    font-weight: bold;
    font-family: 'Qanelas Bold',Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.card-product--model{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.card-product--name{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.lk-menu{
    list-style: none;
}
.lk-menu a {
    text-decoration: none;
}
.lk-menu{
    display: grid;
    grid-row-gap: 25px;
}
.lk-menu > li.active{
    border-right: 2px solid #FFC53D;
}
.order-tabs__list{
    list-style: none;
    display: inline-flex;
    border-bottom: 2px solid #D0C9BB;
    padding: 0;
}
.order-number{
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
    font-size: 23px;
}
.order-tabs__list > li {
    padding: 10px 30px;
    position: relative;
    color: #D0C9BB;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.o-b{
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #1F1F1D;
    text-transform: uppercase;
}
.o-g{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #757570;
}
.order-border{
    border-top: 0.5px solid #545451;
    padding: 20px;
}
.order-border:last-child{
    border-bottom: 0.5px solid #545451;
}
.order-photo{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: relative;
}
.order-photo > .flag{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 25px;
    height: 18px;
}
.order-product__title{
    font-family: 'Bebas Neue',Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-transform: uppercase;
    color: #1F1F1D;
}
.order-product__number{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    color: #1F1F1D;
    font-size: 15px;
}
.order-product__color-img::before{
    content: '';
    height: 38px;
    width: 38px;
    position: absolute;
    left: 0;
    top: 0;
    background: #E8E4D9;
    border-radius: 100px;
    z-index: 10;
}
.order-product__color-img > img{
    position: absolute;
    z-index: 100;
    left: -3px;
    top: -1px;
}
.order-product__color-img{
    position: relative;
    height: 38px;
    width: 38px;
    margin-right: 10px;
}
.order-product__color-name{
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #1F1F1D;
    text-transform: capitalize;
}
.order-product__color-container{
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.order-product-counter{
    display: flex;
    padding: 10px 15px;
    border: 1px solid #8A8A83;
}
.order-product-counter > input{
    width: 65px;
    background: transparent;
    border: 1px solid transparent;
    text-align: center;
    font-family: 'Qanelas Medium',Arial, Helvetica, sans-serif;
    color: #8A8A83;
    font-size: 15px;
}
.product-link-order{
    font-family: 'Qanelas Medium',Arial, Helvetica, sans-serif;
    color: #1F1F1D;
    font-size: 13px;
    text-decoration: none;
    border: 1.5px solid #1F1F1D;
    padding: 15px 25px;
    border-radius: 35px;
    position: relative;
    padding-right: 50px;
}
.border-bottom__order{
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #D0C9BB;
}
.product-link-order:before{
    content: '';
    background: url("../svg/line-b.svg");
    position: absolute;
    right: 20px;
    bottom: 24px;
    height: 2px;
    width: 20px;
}
.price{
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
    color: #1F1F1D;
    font-size: 15px;
}
.order-product-counter > button{
    background: transparent;
    border: 1px solid transparent;
}
.order-tabs__list > li.active{
    color: #1F1F1D;
}
.order-tabs__list > li.active > small{
    color: #FFC53D;
}
.order-tabs__list > li > small{
    position: absolute;
    top: 0;
}
.order-tabs__list > li.active:before{
    content: '';
    height: 2px;
    width: 100%;
    background: #1F1F1D;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.order{
    padding: 30px 40px;
    background: #FBFAF8;
    position: relative;
}
.order:before{
    content: '';
    position: absolute;
    height: 58px;
    width: 60px;
    background: #f6f3ee;
    top: 0;
    left: 0;
    z-index: 100;
}
.order-top{
    padding-bottom: 30px;

}
.order-fields-footer> .order-border:first-child{
    border-top:1px solid transparent;
}
.order-form__input{
    border: 1px solid transparent;
    background:transparent;
    border-bottom: 1px solid #1F1F1D;
    font-size: 13px;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
}
.profile-photo__container{
    position: relative;
    width: 140px;
    height: 140px;
    border: 2px solid #FFC53D;
    border-radius: 100px;
}
.profile-photo__container::before{
    content: '';
    background: url("../image/verf.png");
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    z-index: 10;
}
.full-name{
    font-size: 23px;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 101px;
    display: flex;
}
.manager-title{
    font-size: 15px;
    font-family: 'Qanelas Regular',Arial, Helvetica, sans-serif;
}
.profile-photo__item{
    width: 124px;
    height: 124px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
}
.order-show-hide_btn{
    margin-top: 20px;
    border: 1px solid transparent;
    background: transparent;
    font-family: 'Qanelas Medium',Arial, Helvetica, sans-serif;
    font-size: 15px;

}
.order:after{
    content: '';
    background: url("../svg/OrderYellow.svg");
    position: absolute;
    height: 58px;
    width: 60px;
    top: 0;
    left: 0;
    z-index: 150;
}
.Composition{
    font-size: 23px;
    font-family: 'Qanelas SemiBold',Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .card-photo > img{
        width: 165px !important;
    }
    .btn-ajax{
        width: 208px;
    }
    .container-sm-fluid{
        width: 100%;
        max-width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .card-product--title{
        font-size: 23px;
    }
    .c-y{
        display: block !important;
        padding: 0;
    }
    .c-y > img{
        width: 100%;
        height: 530px;
    }
    .custom{
        padding-right: 35px;

    }
  
    .product-viewer-mob{
        display: block !important;
    }
    .product-action{
        width: 120px;
        align-items: center;
    }
    .product-viewer > img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .product-viewer>.buttons{
        left: 380px;
    }
    .p2{
        margin-top: 130px;
    }
    .product-viewer{
        width: 100%;
    }
    .info-box__text{
        width: auto;
        text-align: right;
    }
    .time-box{
        width: 100%;
    }
    .login-form{
        max-width: 514px;
    }
    .login-info__text > span {
        left: -100px;
        top: 58px;
    }
    .login-info__text::after{
        background: url('../svg/bg/login-info-table.svg') no-repeat 100%;
        left: -105px;
        top: 48px;
        height: 60px;
    }
    .footer-adress{
        font-size: 17px;
    }
    .footer-mobile{
        font-size: 17px;
    }
    .footer-m_bootom-link{
        font-size: 15px;
    }
    .navbar-right-group{
        width: unset;
    }
    .nav-item__call-link{
        font-size: 13px;
        padding: 14px 20px;
        margin-right: 14px
    }
    .mobile-user-block{
        justify-content: center !important;
    }
    .contact-form{
        width: 100%;
    }
}
@media (min-width: 320px) and (max-width:765px) {
    .p-sm-0{
        padding: 0 !important;
    }
    .card-action{
        display: flex;
    }
    .card-mob .card-top{
        padding: 0;
    }
    .card-mob{
        padding-left: 0;
        padding-right: 2px;
    }
    .card-mob> .card{
        margin-bottom: 4px;
    }
    .card-mob> .card .card-photo > img{
        width: 104px !important;
        height: 104px;
    }
    .card-mob:nth-child(2n){
        padding-left: 2px;
        padding-right: 0;
    }
    .lk-title{
        font-size: 27px;
    }
    .lk-menu{
        display: flex;
        padding: 0;
        overflow: hidden;
    }
    .lk-menu >  li {
        margin-right: 25px;
    }
    .lk-menu > li.active{
        border-right: 1px solid transparent;
        border-bottom: 2px solid #FFC53D;
    }
    .pagination-list{
        padding-left: 0;
    }
    .btn-ajax{
        width: 100%;
    }
    .c-y{
        display: block !important;
        padding: 0;
    }
    .pagination-list{
        margin-top: 35px;
    }
    .cu-p{
        padding-left: 0;
    }
    .container-sm-fluid{
        max-width: 100%;
    }
    .d-mob-none{
        display: none !important;
    }
    .product-name{
        font-size: 23px;
    }
    .categories-baner{
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    .d-none-mob{
        display: none !important;
    }
    .product-viewer-mob .buttons{
        left: 35%;

    }
    .product-viewer-mob > img{
        width: 205px;
        height: 205px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .pagination{
        top: 80px !important;
    }
    .color-picker{
        margin-top: 45px;
        justify-content: space-around;
    }
    .order-col-last{
        order: 2;
    }
    .order-col-first{
        order: 1;
    }
    .mt-col-4{
        margin-top: 14px;
    }
    .p-main{
        padding-right: 40px;
    }
    .color-picker > .color:hover::before{
        width: 50px;
        height: 52px;
    }
    .product-material{  
        justify-content: start;
        margin-top: 20px;
    }
    .color-picker > .color{
        width: 32px;
        height: 32px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .product-viewer-mob{
        display: block !important;
        height: 417px;
    }
    .product-action{
        width: 120px;
        align-items: flex-end;
    }
    .contact-form{
        width: 100%;
    }
    .mobile-user-block{
        justify-content: flex-end !important;
    }
    .nav-item__user-link{
        padding: 8px;
    }
    .navbar-right-group{
        width: 105px;
    }
    .tabs{
        width: 100%;
    }
    .time-box .col-12{
        /* padding-left: 100px;     */
    }
}